<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6"> 
      <ul class="list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="mb-4"> 
            <a href="/post/<%= posts[i]._id%>">
              <p><%= posts[i].userName %></p>
              <img src="<%= posts[i].image%>" class="img-fluid w-100" alt="<%= posts[i].title%>"> 
            </a>
            <h2><%= posts[i].title %></h2>
            <p><%= posts[i].caption %></p>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-6 mt-5 text-center">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
     <a class="btn btn-primary" href="/feed">Top of Feed</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>

<!-- <%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <h2><%= posts[i].title %></h2>
            <p><%= posts[i].caption %></p>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
  <div class="col-6 mt-5">
    <a class="btn btn-primary" href="/profile">Return to Profile</a>
    <a class="btn btn-primary" href="/feed">Top of Feed</a>
  </div>
<%- include('partials/footer') -%> -->