<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.plugin %></h2>
      <ul class="list-unstyled">
        <li>Category: <%= post.category %></li>
        <li>Free or Paid? <%= post.freeOrPaid %></li>
        <li>Link To Plugin: <a href="<%= post.link %>" target="_blank"><%= post.link %></a></li>
      </ul>
      
  
      <div class="row justify-content-between">
        <form
          class="col-3"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST">
          <button class="btn fa fa-fire" style="color: orange;" type="submit">  <%= post.likes %></button>
        </form>
        <!-- <h3 class="col-3">Likes:</h3> -->
        <!-- save to favourites -->
        <form
        class="col-3"
        action="/post/savePost/<%= post.id %>?_method=PUT"
        method="POST">
        <button class="btn btn-primary fa fa-bookmark"  type="submit"> Save</button>
      </form>

        
        <%if(user && post.user == user.id){ %> 
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash " type="submit"></button>
        </form>
        <%}%>

        <div>
          <p class="fst-italic">Submitted by <%= post.userName %></p>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <% if (error_msg && error_msg.length > 0) { %>
      <div class="alert alert-danger"><%= error_msg %></div>
      <% } %> <% if (success_msg && success_msg.length > 0) { %>
      <div class="alert alert-success text-center"><%= success_msg %></div>
      <% } %>
    </div>


    <!-- loop to display comments -->
     <div class="row justify-content-between">
      <h3>Comments</h3>
    <ul class="list-unstyled">
      <% comments.sort((a,b) => a.createdAt - b.createdAt)
       for(var i=0; i<comments.length; i++) {%>
        <li class="justify-content-between mt-2" data-id='<%=comments._id%>'> 
          <%= comments[i].userName + ":" %> <%= comments[i].comment %>
        </li>
        
      <% } %>
    </ul>
  </div>

    <!-- form for making comments -->
    <div class="mt-5">
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Share your thoughts on <%= post.plugin %></label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary custom">Add Comment</button>
      </form>
    </div>


    <div class="mt-5 d-flex justify-content-center">
      <a class="btn btn-primary mx-2 custom" href="/profile">Return to Profile</a>
      <a class="btn btn-primary mx-2 custom" href="/home">Return Home</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
